<%- include('partials/header') -%>

<h1 class="text-4xl mb-4">Welcome <%= user.nickname %></h1>

<% if (user.picture) { %>
  <img class="block py-3" src="<%= user.picture %>" width="300">
<% } %>

<p class="py-3">
  This is the content of <code class="bg-gray-200">req.user</code> (also available in the raw JWT).<br>
</p>

<pre class="block bg-gray-300 p-4 text-sm overflow-scroll"><%= userProfile %></pre>

<p class="py-3">
  This is the content of user data obtained via API request.<br>
</p>

<pre class="block bg-gray-300 p-4 text-sm overflow-scroll"><%= user %></pre>

<%- include('partials/footer') -%>