<%- include('partials/header') -%>

  <h1 class="text-4xl mb-4">Settings</h1>

  <h2 class="text-2xl mb-2">Add attribute</h2>

  <!-- Form for adding a new attribute -->
  <form action="/add-attribute" method="POST" class="mb-4">
    <div class="mb-3">
      <label for="key" class="block text-lg mb-2">Key:</label>
      <input type="text" id="key" name="key" required class="shadow border rounded py-2 px-3 text-grey-darker">
    </div>
    <div class="mb-3">
      <label for="value" class="block text-lg mb-2">Value:</label>
      <input type="text" id="value" name="value" required class="shadow border rounded py-2 px-3 text-grey-darker">
    </div>
    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
      Add Attribute
    </button>
  </form>

  <!-- List of current attributes -->
  <h2 class="text-2xl mb-2">Current Attributes</h2>
  <ul>
    <% for(let key in attributes) { %>
      <li class="mb-2">
        <span class="font-bold">
          <%= key %>:
        </span>
        <%= attributes[key] %>
          <!-- Remove button -->
          <form action="/remove-attribute" method="POST" class="inline">
            <input type="hidden" name="key" value="<%= key %>">
            <button type="submit"
              class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded">Remove</button>
          </form>
      </li>
      <% } %>
  </ul>

  <%- include('partials/footer') -%>